
.container,.ingContainer{
    border: 0.5px solid black;
    padding: 5px;
    margin: 5px;
}
.container{
    background: #ffeb3b;
    max-width: 1000px;
    margin-left: 200px;
}
.ingContainer{
    background:  rgba(199, 188, 188, 0.965);
}

.head2{
    color: blue;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background: rgba(220, 57, 7, 0.3);
}   
.flex-container{
    border: 0.5px solid black;
    display: flex;
    flex-wrap: wrap;

}
#undering{
    padding: 0.3px;
    background: rgb(167 167 167 / 38%);
}
.flex-item, .flex-container div{
    border: 0.5px solid rgba(138, 113, 113,0.8);
    padding: 5px;
    margin: 5px;
    background: rgb(225 149 35 / 40%);
    flex: auto;    
}
.flex-item{
    background : rgba(63, 33, 17, 0.701);
}