
*{
    font-family: "Lucida Console", "Courier New", monospace;; 
}
    
img{
width: 800px;
    height: auto;
}

.title{
    color: rgb(255, 50, 51);
    background-color: #d4ce26;
}
#meal1{
    color: brown;
}
#meal2 {
    color: rgb(0, 255, 255);
}

.head2{
    color: blue;
}
.head3{
    color: purple;
}
