.title{
    color: rgb(110, 51, 51);
    background-color: rgb(218, 218, 218);
}
.head2{
    color: rgb(18, 190, 101);
}
.head3{
    color: rgb(35, 169, 193);
}
.ingeredients{    
    height: auto;
    width: 350px;
    border: 0.5px solid green;
    margin: 15px 100px;
    padding: 5px 20px;
    box-sizing: border-box;
}
.ingredient{
    padding: 3px;
    border: 0.5px solid rgba(12,211, 108,0.2);
    margin: 7px;
    box-sizing: border-box;
}