
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.title{
    color: rgb(255, 50, 51);
    background-color: #d4ce26;
}
#meal1{
    color: rgb(0, 72, 255);
}
#meal2 {
    color: rgb(0, 81, 255);
}

.head3{
    color: #f44336;
}
#list{
    width: 200px;
    border: 0.2px solid black;
    height: 500px;
    margin: 3px 250px;
    padding: 10px 20px 20px 20px;
    background: #bd3c3c42;
}
.item{
    border: 0.3px solid black;
    width: auto;
    text-align: center;
    padding: 7px;
    margin: 10px;
    background: #ffffff80;
}
