
*{
    font-family: "Lucida Console", "Courier New", monospace;; 
}
    
.title{
    color: rgb(255, 50, 51);
    background-color: #d4ce26;
}
#meal1{
    color: rgb(0, 72, 255);
}
#meal2 {
    color: rgb(0, 81, 255);
}

.head2{
    color: blue;
}
.head3{
    color: purple;
}
#list{
    width: 200px;
    border: 0.2px solid black;
    height: 500px;
    margin: 3px 250px;
    padding: 10px 20px 20px 20px;
    background: #bd3c3c42;
}
.item{
    padding: 3px;
    border: 0.2px solid black;
    margin: 10px;
    background: #edff0047;
}
